# Secrets
/.env
/backend/.env
/frontend/.env
/frontend/.env.local
/.env.docker

# Backend build
/backend/bin/
/backend/obj/
/backend/.test-output/
/backend/backend.Tests/bin/
/backend/backend.Tests/obj/
/backend/backend.Tests/.test-output/
/backend/_buildcheck/
/backend/uploads/

# Frontend build
/frontend/dist/
/frontend/node_modules/
/frontend/.angular/cache/

# Local temp folders
/.npm-cache/
/.tmp-pdf/

frontend-history.bundle

/backend/logs/
